api/SMAPI.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:sm="http://localhost/account/api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SMAPI" targetNamespace="http://localhost/account/api" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/account/api">
	<xsd:element name="login">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="in" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="loginResponse">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="out" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="list">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:int"></xsd:element>
			<xsd:element name="name" type="xsd:string"></xsd:element>
			<xsd:element name="description" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>	<xsd:complexType name="ArrayofLists">		<xsd:sequence>			<xsd:element name="lists" type="sm:list" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="message">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:int"></xsd:element>
			<xsd:element name="name" type="xsd:string"></xsd:element>
			<xsd:element name="description" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ArrayofMessages">
		<xsd:sequence>
			<xsd:element name="messages" type="sm:message" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="jobtype">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:int"></xsd:element>
			<xsd:element name="name" type="xsd:string"></xsd:element>
			<xsd:element name="info" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ArrayofJobTypes">
		<xsd:sequence>
			<xsd:element name="jobtypes" type="sm:jobtype" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayofJobs">
		<xsd:sequence>
			<xsd:element name="jobs" type="sm:job" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="job">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:int"></xsd:element>
			<xsd:element name="name" type="xsd:string"></xsd:element>
			<xsd:element name="description" type="xsd:string"></xsd:element>
			<xsd:element name="hasphone" type="xsd:string"></xsd:element>
			<xsd:element name="hasemail" type="xsd:string"></xsd:element>
			<xsd:element name="hasprint" type="xsd:string"></xsd:element>
			<xsd:element name="hassms" type="xsd:string"></xsd:element>
			<xsd:element name="phonetotal" type="xsd:string"></xsd:element>
			<xsd:element name="emailtotal" type="xsd:string"></xsd:element>
			<xsd:element name="printtotal" type="xsd:string"></xsd:element>
			<xsd:element name="smstotal" type="xsd:string"></xsd:element>
			<xsd:element name="phoneremaining" type="xsd:string"></xsd:element>
			<xsd:element name="emailremaining" type="xsd:string"></xsd:element>
			<xsd:element name="printremaining" type="xsd:string"></xsd:element>
			<xsd:element name="smsremaining" type="xsd:string"></xsd:element>
			<xsd:element name="startdate" type="xsd:string"></xsd:element>
			<xsd:element name="status" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema></wsdl:types>
    <wsdl:message name="loginRequest">
    	<wsdl:part name="loginname" type="xsd:string"></wsdl:part>
    	<wsdl:part name="password" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="loginResponse">
    	<wsdl:part name="sessionid" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="login_faultMsg">
    	<wsdl:part name="fault" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getListsRequest">
    	<wsdl:part name="sessionid" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getListsResponse">
    	<wsdl:part name="lists" type="sm:ArrayofLists"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMessagesRequest">
    	<wsdl:part name="sessionid" type="xsd:string"></wsdl:part>
    	<wsdl:part name="type" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMessagesResponse">
    	<wsdl:part name="messages" type="sm:ArrayofMessages"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="setMessageBodyRequest">
    	<wsdl:part name="sessionid" type="xsd:string"></wsdl:part>
    	<wsdl:part name="messageid" type="xsd:int"></wsdl:part>
    	<wsdl:part name="messagetext" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="setMessageBodyResponse">
    	<wsdl:part name="result" type="xsd:boolean"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="uploadAudioRequest">
    	<wsdl:part name="sessionid" type="xsd:string"></wsdl:part>
    	<wsdl:part name="name" type="xsd:string"></wsdl:part>
    	<wsdl:part name="audio" type="xsd:base64Binary"></wsdl:part>
    	<wsdl:part name="mimetype" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="uploadAudioResponse">
    	<wsdl:part name="audioname" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getLists_faultMsg">
    	<wsdl:part name="fault" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMessages_faultMsg">
    	<wsdl:part name="fault" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="setMessageBody_faultMsg">
    	<wsdl:part name="fault" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="uploadAudio_faultMsg">
    	<wsdl:part name="fault" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getJobTypesRequest">
    	<wsdl:part name="sessionid" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getJobTypesResponse">
    	<wsdl:part name="jobtypes" type="sm:ArrayofJobTypes"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getJobTypes_faultMsg">
    	<wsdl:part name="fault" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getActiveJobsRequest">
    	<wsdl:part name="sessionid" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getActiveJobsResponse">
    	<wsdl:part name="jobs" type="sm:ArrayofJobs"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getActiveJobs_faultMsg">
    	<wsdl:part name="fault" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRepeatingJobsRequest">
    	<wsdl:part name="sessionid" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRepeatingJobsResponse">
    	<wsdl:part name="jobs" type="sm:ArrayofJobs"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRepeatingJobs_faultMsg">
    	<wsdl:part name="fault" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendRepeatingJobRequest">
    	<wsdl:part name="sessionid" type="xsd:string"></wsdl:part>
    	<wsdl:part name="jobid" type="xsd:int"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendRepeatingJobResponse">
    	<wsdl:part name="jobid" type="xsd:int"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getJobStatusRequest">
    	<wsdl:part name="sessionid" type="xsd:string"></wsdl:part>
    	<wsdl:part name="jobid" type="xsd:int"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getJobStatusResponse">
    	<wsdl:part name="job" type="sm:job"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendJobRequest">
    	<wsdl:part name="sessionid" type="xsd:string"></wsdl:part>
    	<wsdl:part name="name" type="xsd:string"></wsdl:part>
    	<wsdl:part name="description" type="xsd:string"></wsdl:part>
    	<wsdl:part name="listid" type="xsd:int"></wsdl:part>
    	<wsdl:part name="jobtypeid" type="xsd:int"></wsdl:part>
        <wsdl:part name="startdate" type="xsd:string"></wsdl:part>
        <wsdl:part name="starttime" type="xsd:string"></wsdl:part>
        <wsdl:part name="endtime" type="xsd:string"></wsdl:part>
        <wsdl:part name="daystorun" type="xsd:int"></wsdl:part>
        <wsdl:part name="phonemsgid" type="xsd:int"></wsdl:part>
        <wsdl:part name="emailmsgid" type="xsd:int"></wsdl:part>
    	<wsdl:part name="smsmsgid" type="xsd:int"></wsdl:part>    	    	<wsdl:part name="maxcallattempts" type="xsd:int"></wsdl:part></wsdl:message>
    <wsdl:message name="sendJobResponse">
    	<wsdl:part name="jobid" type="xsd:int"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SMClient">
    	<wsdl:operation name="login">
    		<wsdl:input message="sm:loginRequest"></wsdl:input>
    		<wsdl:output message="sm:loginResponse"></wsdl:output>
            <wsdl:fault name="fault" message="sm:login_faultMsg"></wsdl:fault>
        </wsdl:operation>
    	<wsdl:operation name="getLists">
    		<wsdl:input message="sm:getListsRequest"></wsdl:input>
    		<wsdl:output message="sm:getListsResponse"></wsdl:output>
            <wsdl:fault name="fault" message="sm:getLists_faultMsg"></wsdl:fault>
        </wsdl:operation>
    	<wsdl:operation name="getMessages">
    		<wsdl:input message="sm:getMessagesRequest"></wsdl:input>
    		<wsdl:output message="sm:getMessagesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="sm:getMessages_faultMsg"></wsdl:fault>
        </wsdl:operation>
    	<wsdl:operation name="setMessageBody">
    		<wsdl:input message="sm:setMessageBodyRequest"></wsdl:input>
    		<wsdl:output message="sm:setMessageBodyResponse"></wsdl:output>
            <wsdl:fault name="fault" message="sm:setMessageBody_faultMsg"></wsdl:fault>
        </wsdl:operation>
    	<wsdl:operation name="uploadAudio">
    		<wsdl:input message="sm:uploadAudioRequest"></wsdl:input>
    		<wsdl:output message="sm:uploadAudioResponse"></wsdl:output>
            <wsdl:fault name="fault" message="sm:uploadAudio_faultMsg"></wsdl:fault>
        </wsdl:operation>
    	<wsdl:operation name="getJobTypes">
    		<wsdl:input message="sm:getJobTypesRequest"></wsdl:input>
    		<wsdl:output message="sm:getJobTypesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="sm:getJobTypes_faultMsg"></wsdl:fault>
        </wsdl:operation>
    	<wsdl:operation name="getActiveJobs">
    		<wsdl:input message="sm:getActiveJobsRequest"></wsdl:input>
    		<wsdl:output message="sm:getActiveJobsResponse"></wsdl:output>
            <wsdl:fault name="fault" message="sm:getActiveJobs_faultMsg"></wsdl:fault>
        </wsdl:operation>
    	<wsdl:operation name="getRepeatingJobs">
    		<wsdl:input message="sm:getRepeatingJobsRequest"></wsdl:input>
    		<wsdl:output message="sm:getRepeatingJobsResponse"></wsdl:output>
            <wsdl:fault name="fault" message="sm:getRepeatingJobs_faultMsg"></wsdl:fault>
        </wsdl:operation>
    	<wsdl:operation name="sendRepeatingJob">
    		<wsdl:input message="sm:sendRepeatingJobRequest"></wsdl:input>
    		<wsdl:output message="sm:sendRepeatingJobResponse"></wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getJobStatus">
    		<wsdl:input message="sm:getJobStatusRequest"></wsdl:input>
    		<wsdl:output message="sm:getJobStatusResponse"></wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="sendJob">
    		<wsdl:input message="sm:sendJobRequest"></wsdl:input>
    		<wsdl:output message="sm:sendJobResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SMBinding" type="sm:SMClient">

    	<soap:binding style="rpc"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<wsdl:operation name="login">

    		<soap:operation
    			soapAction="http://localhost/account/api/login" />
    		<wsdl:input>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    		<wsdl:fault name="fault">

    			<soap:fault use="encoded"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
    				name="fault" />
    		</wsdl:fault>
    	</wsdl:operation>
    	<wsdl:operation name="getLists">

    		<soap:operation
    			soapAction="http://localhost/account/api/getLists" />
    		<wsdl:input>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    		<wsdl:fault name="fault">

    			<soap:fault use="encoded"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
    				name="fault" />
    		</wsdl:fault>
    	</wsdl:operation>
    	<wsdl:operation name="getMessages">

    		<soap:operation
    			soapAction="http://localhost/account/api/getMessages" />
    		<wsdl:input>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    		<wsdl:fault name="fault">

    			<soap:fault use="encoded"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
    				name="fault" />
    		</wsdl:fault>
    	</wsdl:operation>
    	<wsdl:operation name="setMessageBody">

    		<soap:operation
    			soapAction="http://localhost/account/api/setMessageBody" />
    		<wsdl:input>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    		<wsdl:fault name="fault">

    			<soap:fault use="encoded"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
    				name="fault" />
    		</wsdl:fault>
    	</wsdl:operation>
    	<wsdl:operation name="uploadAudio">

    		<soap:operation
    			soapAction="http://localhost/account/api/uploadAudio" />
    		<wsdl:input>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    		<wsdl:fault name="fault">

    			<soap:fault use="encoded"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
    				name="fault" />
    		</wsdl:fault>
    	</wsdl:operation>
    	<wsdl:operation name="getJobTypes">

    		<soap:operation
    			soapAction="http://localhost/account/api/getJobTypes" />
    		<wsdl:input>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    		<wsdl:fault name="fault">

    			<soap:fault use="encoded"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
    				name="fault" />
    		</wsdl:fault>
    	</wsdl:operation>
    	<wsdl:operation name="getActiveJobs">

    		<soap:operation
    			soapAction="http://localhost/account/api/getActiveJobs" />
    		<wsdl:input>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    		<wsdl:fault name="fault">

    			<soap:fault use="encoded"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
    				name="fault" />
    		</wsdl:fault>
    	</wsdl:operation>
    	<wsdl:operation name="getRepeatingJobs">

    		<soap:operation
    			soapAction="http://localhost/account/api/getRepeatingJobs" />
    		<wsdl:input>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    		<wsdl:fault name="fault">

    			<soap:fault use="encoded"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
    				name="fault" />
    		</wsdl:fault>
    	</wsdl:operation>
    	<wsdl:operation name="sendRepeatingJob">

    		<soap:operation
    			soapAction="http://localhost/account/api/sendRepeatingJob" />
    		<wsdl:input>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getJobStatus">

    		<soap:operation
    			soapAction="http://localhost/account/api/getJobStatus" />
    		<wsdl:input>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="sendJob">

    		<soap:operation
    			soapAction="http://localhost/account/api/sendJob" />
    		<wsdl:input>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded"
    				namespace="http://localhost/account/api"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SMAPI">
		<wsdl:port name="SMAPIPort" binding="sm:SMBinding">
			<soap:address location="http://localhost/customer1/api/smapi.php"></soap:address>
		</wsdl:port>
	</wsdl:service></wsdl:definitions>
